$main-color: #3F4C6B;
$main-color-dark: #000;
$main-color-light: #FFFFFF;

$secondery-color: #000;
$secondery-color-dark: #000;
$secondery-color-light: #000;

$main-tex-color: #053521E5;
$main-tex-color-dark: #082C1C;
$main-tex-color-light: #FFFFFF;
$main-tex-color-red: #8A1E1C;

$font-roboto: 'Roboto', sans-serif;

 // DEVICE BREAKPOINTS
  $mobile: 600;
  $tab: 900;
  $laptop: 1200;
  $desktop: 1500;
  $monitor: 1800;